/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
Regular 400
Bold 700*/

/* variables */
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Lexend Deca', sans-serif;
    --darkest-violet: #1E1E1E;
    --dark-violet: #1B1938;
    --violet: #AA5CDB;
    --white: #fff;
    --black: #000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--darkest-violet);
}

.container{
    background-color: var(--dark-violet);
}

