/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
Regular 400
Bold 700*/

/* variables */
:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Lexend Deca', sans-serif;
    --darkest-violet: #1E1E1E;
    --dark-violet: #1B1938;
    --violet: #AA5CDB;
    --white: #fff;
    --black: #000;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* main body - the whole background styles */
body{
    background-color: var(--darkest-violet);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: var(--dark-violet);
    height: 70vh;
    width: 75%;
    /* for 2 inner containers */
    display: flex;
}

.text__container{
    color: var(--white);
    width: 50%;
    font-family: var(--primary-font);
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro > h1 > span{
    color: var(--violet);
}

.image__container{
    height: 100%;
    width: 50%;
}

.image__container > img{
    /* emmet shortcut h100p */
    height: 100%; 
    width: 100%;
/* if the view of the image skews or squzees or streches */
   object-fit: cover;
    object-position: left;
}

.stat {
    display: flex;
    gap: 30px;
}

